{{ define "main" }}
<article class="h-entry">
  <h1 data-pagefind-meta="title" class="p-name">{{ .Title }}</h1>
  <div class="article-metadata">
    <p>
      By
      <a class="p-author h-card">
	{{ .Site.Params.author.name }}
      </a>
    </p>
    <p>Last updated
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <span class="dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</span>
    </p>
  </div>
  {{ if .Params.long }}
  {{ .TableOfContents }}
  {{ end }}
  <div data-pagefind-body class="e-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
