/* fonts */

/* atkinson-hyperlegible-next-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible Next';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/atkinson-hyperlegible-next-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-next-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible Next';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/atkinson-hyperlegible-next-v7-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/atkinson-hyperlegible-mono-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* layout */

/* Desktop Layout */

@media (min-width: 63em) {
    .home {
        margin: 0 auto;
	max-width: 95ch;
    }
    #search {
	max-width: 65ch;
    }
    figcaption {
	float: right;
	margin-right: -60%;
	width: 50%;
    }
    .e-content {
	max-width: 65ch;
    }
    header {
	padding-top: 10px;
    }
}

/* fixing layout issues */

/* capping very large tables */
.scrollable {
    overflow-x: auto;
}

/* Capping the size of code blocks */
pre {
    overflow-x: auto;
}

/* Capping the size of images */
img {
    max-width: 100%;
    height: auto;
}

/* appearance */

:root {
    --main-bg-color: #efefeb;
    --main-fg-color: black;
    --pagefind-ui-font: 'Atkinson Hyperlegible Next';
    --pagefind-ui-border: #010101;
    --pagefind-ui-background: beige;
    --pagefind-outline-width: 1px;
}

body {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

pre, code {
    font-family: 'Atkinson Hyperlegible Mono', monospace;
}

hr {
    color: black;
}

.topic > ul {
    padding: 0;
    list-style: none;
}

figcaption > h4 {
    font-weight: normal;
    font-size: 1em;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--main-fg-color);
    padding: 0.5rem;
    text-align: left;
}
