<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel=icon href=/output.png />
    <title>{{ .Title | safeHTML }}</title>
    {{ $styles := resources.Get "style.css" | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  </head>
  <body class="home">
    <p>My personal blog that I rarely update. <a href="/search.html">Search</a> for content and follow via <a href="/index.xml">RSS</a>.</p>
    <div class="subjects">
      <div class="topic">
        <h3>Latest</h3>
        <ul>
          {{ $pages := where .Pages "File.BaseFileName" "ne" "search" }}
          {{ range ( $pages | first 3) }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .WordCount }} words)
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
	    {{ $dateHuman := .Date | time.Format ":date_long" }}
	    <span class="dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</span>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ range where .Site.RegularPages "Params.topic" "!=" nil }}
      <div class="topic">
        <h3>{{ .Params.topic }}</h3>
        <ul>
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .WordCount }} words)
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
	    {{ $dateHuman := .Date | time.Format ":date_long" }}
	    <span class="dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</span>
          </li>
        </ul>
      </div>
      {{ end }}
    </div>
  </body>
</html>
